.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}
form span input {
  padding: 15px;
  outline: none;
  border-radius: 6px;
}
form button {
  padding: 15px 40px;
  background-color: dodgerblue;
  color: #FFFFFF;
  border: 1px solid dodgerblue;
  border-radius: 6px;
}

.card {
  width: 240px;
  padding: 10px;
  height: 280px;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card img {
  width: 220px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
.cards .dbtn {
  background-color: red;
  color: #FFFFFF;
  border: 1px solid red;
  border-radius: 6px;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}